
:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.giphy-ui {
  color: #FFF;

  & .submit-button {
    display: none;
  }

  & .search-form {
    text-align: center;
    margin: 5rem 0 5rem 0;

    & .favorites-toggle {
      color: #FFD700;
      font-size: 1.2rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }

  & .search-result {
    display: flex;
    width: 90%;
    min-height: 20rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    & .gif-tile {
      position: relative;
      height: 10rem;
      overflow: hidden;
      display: inherit;
      justify-content: center;
      align-items: center;
      border: 1px solid #FFF;
      margin: 1rem;

      & .favorite-star {
        cursor: pointer;
        font-size: 2rem;
        width: 2rem;
        position: absolute;
        left: 0.2rem;
        top: 0.2rem;
      }

      & .favorite-star {
        font-size: 2rem;
        width: 2rem;
        position: absolute;
        left: 0.2rem;
        top: 0.2rem;

        &.favorite-star__selected {
          color: #FFD700;
        }
      }
    }

    & .loader {
      border: 0.5rem solid #FFF;
      border-top: 0.5rem solid #FF0000;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}